.tod{
    width: 630px

}
.tyh{
    color: black;
    width: 630px;
}
.tod,.tyh{
    padding: 0%;
    height: 60px;
    font-size: 20px;
    background-color: rgb(252, 252, 252);

}

.tod:hover,.tyh:hover{
    
    
    background-color: rgb(218, 211, 200)
}
.eshh{
    text-align: center;
    
}
a{
    text-decoration: none;
    color: black;
}
.divv{
    background-image: url("https://i.pinimg.com/1200x/d9/6a/74/d96a7495ff0d37dd7115e405b740ef6a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    width: 1800px;
}

#allahigator{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: 900;
    -webkit-text-stroke: 7px black;
    font-size: 100px;
    padding-left: 400px;
    padding-top: 350px;
    padding-bottom: 0%;
    color: rgb(248, 247, 237);
}
#allahigator1{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: 100;
    -webkit-text-stroke: 0px black;
    font-size: 1px;
    padding: 450px;
    padding-top: 700px;
    color: rgb(248, 247, 237);
}
#allahigator2{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: 100;
    -webkit-text-stroke: 3px black;
    font-size: 60px;
    padding: 450px;
    padding-top: 700px;
    color: rgb(248, 247, 237);
}
.yyy{
    height: 100px;
}